<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Кадровая служба ордена Джедаев</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12'>
            <h1 class='text-center'><a href='/'>Кадровая служба ордена Джедаев</a></h1>
          <hr>
        </div>
        <div class='col-md-6 col-md-offset-3'>
            <h2>{% block title %}{% endblock %}</h2>
            {% block content%}{% endblock %}
            <p></p>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <ul class='list-unstyled'>
                        <li><a href='{% url "hr:jedi:all" %}'>Все джедаи и их падаваны</a></li>
                        <li><a href='{% url "hr:jedi:active" %}'>Джедаи у которых есть падаваны</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <footer>
          <hr>
          <p>Jedi Academy @2017</p>
      </footer>
    </div>
  </body>
</html>
